html {
  box-sizing: border-box;
  font-size: 100%; //1rem = 16px
  background-color: $purple-black;
  min-width: rem(320px);
  max-width: rem(1440px);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $body-font;
  color: $white;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Remove text underline.
a {
  text-decoration: none;
}

p {
  // @include fluid-property('font-size', $min-width-i, $max-width-i, $min-font-i, $max-font-i);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  font-weight: 700;
}

abbr[title] {
  border-bottom: none;
  cursor: inherit;
  text-decoration: none;
}

//Make form elements stack on top of each other in a column
//These elements are used in contact.html
textarea,
input,
button,
label {
  // @include fluid-property('font-size', $min-width-i, $max-width-i, $min-font-i, $max-font-i);

  display: block;
}
