html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
  background-color: $white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-stack;
  color: $font-color;
  font-weight: 300;
  line-height: 1.5;
}

// Make images responsive.
img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Remove text underline.
a {
  text-decoration: none;
}

p {
  font-size: 1.6rem; //16px
}

p,
header {
  margin-bottom: 2.4rem;
}