html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
  background-color: $white;
  min-width: 307px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-stack;
  color: $font-color;
  font-weight: 300;
  line-height: 1.5;
}

// Make images responsive.
img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Remove text underline.
a {
  text-decoration: none;
}

p {
  font-size: 1.8rem; //18px

  @include for-phone-only {
    font-size: 1.7rem; //6% reduction in size
  }
}

h1, h2, h3, h4,  h5, h6,
p,
header {
  margin-bottom: 1.6rem; //16px

  @include for-phone-only {
    margin-bottom: 1.44rem; //10% reduction in size
  }
}

abbr[title] {
  border-bottom: none;
  cursor: inherit;
  text-decoration: none;
}

//Make form elements stack on top of each other in a column
textarea,
input,
button,
label {
  display: block;
  font-weight: 300;
  font-size: 1.6rem; //18px

  @include for-phone-only {
    font-size: 1.5rem; //6% reduction in size
  }
}