/* Noto Sans JP 400 and 500 */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500&subset=japanese');

/* league-spartan-bold
 * woff2 supports Chrome 26+, Opera 23+, Firefox 39+
 * woff supports Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
 */
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  src:
    local('League Spartan Bold'),
    local('LeagueSpartan-Bold'),
    url('/fonts/leaguespartan-bold.woff2') format('woff2'),
    url('/fonts/leaguespartan-bold.woff') format('woff');
}

$header-font: 'League Spartan', sans-serif;
$body-font: 'Noto Sans JP', sans-serif;
