/* Hide element while making it readable for screen readers */
.screen-reader-only {
  //used on index.html, recent-work.html, contact.html, message-sent.html
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.margin-zero {
  //used in index.html
  margin: 0;
}

.display-block {
  //used in recent-work.html
  display: block;

  @media screen and (min-width: 42.1875em) {
    //675px
    display: inline;
  }
}

.position-relative {
  position: relative;
}