/* Hide element while making it readable for screen readers */
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Used to hide and show the project images and project captions
* Must be marked important to override the class's display property when added
*/
.not-displayed {
  display: none !important;
}

.margin-zero {
  margin: 0;
}
