/*! Custom Styles */

/* Colors */
$background-color: hsl(210, 14%, 95%);
$font-color: hsl(0, 0%, 27%);
// $link-color: #3f689d;
$active-color: 	hsl(165, 80%, 43%);
// $hover-color: #4483d9;
$hover-color: hsl(0, 0%, 0%);
$dark-blue: hsla(212, 43%, 23%, 1);
$light-grey:hsl(0, 0%, 40%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$opaque-white: hsla(0, 0%, 100%, 0.98);
$wittenbrock-logo: hsl(214, 42%, 23%);

/* Box Shadow */
$logo-shadow: 0 0 5px 5px hsla(214, 43%, 43%, 0.35);
$project-caption-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.16), 0 0 2px hsla(0, 0%, 0%, 0.08);
$project-button-shadow: 0 0 2px hsla(0, 0%, 0%, 0.08), 0 2px 2px hsla(0, 0%, 0%, 0.16); //DELETE THIS
$project-button-shadow-down: 0 0 2px hsla(0, 0%, 0%, 0.08), 0 2px 2px hsla(0, 0%, 0%, 0.16);
$project-button-shadow-up: 0 0 4px hsla(0, 0%, 0%, 0.08), 0 4px 4px hsla(0, 0%, 0%, 0.16);
$nav-bar-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.08);

/* Text-underline on hover for .link */
$duration: 0.2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

/* Simulate button down press */
$button-down-press: translateY(rem(2px));

/*
 * ----------------------------------------
 * Fluid typography variables
 * The following variables are used for the mixin fluid-property('font-size' ...)
 * ----------------------------------------
*/

/* Fluid typography variables for index.html and contact.html */
$min-width-i: 20rem;
$max-width-i: 35rem;
$min-font-i: 1rem;
$max-font-i: 1.125rem;

/* Fluid typography variables for the navigation bar */
$min-width-nav: 20rem;
$max-width-nav: 62.5rem;
$min-font-nav: 0.5625rem;
$max-font-nav: 0.9375rem;

/* Fluid typography variables for splash-page.html */
$min-vw-home-font: 20rem;
$max-vw-home-font: 62.5rem;
$min-font-home: 0.8rem;
$max-font-home: 1.3rem;

/*
 * ----------------------------------------
 * Fluid width and height variables
 * The following variables are used for the mixin fluid-property('width' ...)
 * and the mixin fluid-property('height' ...)
 * ----------------------------------------
*/

/* Fluid width variables for svg icons in the navigation bar */
$min-vw-nav-icons: 2rem;
$max-vw-nav-icons: 62.5rem;
$min-width-nav-icons: 1rem;
$max-width-nav-icons: 1.5rem;

/* Corresponding height variables */
$min-height-nav-icons: 1rem;
$max-height-nav-icons: 1.5rem;

/* Fluid width variables for the Wittenbrock logo in the navigation bar */
$min-vw-nav-logo: 20rem;
$max-vw-nav-logo: 53.125rem;
$min-width-nav-logo: 2.1rem;
$max-width-nav-logo: 3.5rem;

/* Corresponding height variables */
$min-height-nav-logo: 2.1rem;
$max-height-nav-logo: 3.5rem;

/* Fluid height variables for the navigation bar's height */
$min-vw-nav-bar: 20rem;
$max-vw-nav-bar: 53.125rem;
$min-height-nav-bar: 2.5rem;
$max-height-nav-bar: 4rem;

/* Fluid width variables for the animated Wittenbrock logo on the homepage */
$min-vw-home-logo: 20rem;
$max-vw-home-logo: 62.5rem;
$min-width-home-logo: 6.875rem;
$max-width-home-logo: 12.5rem;

/* Corresponding height variables */
$min-height-home-logo: 6.875rem;
$max-height-home-logo: 12.5rem;

/* Fluid width variables for the right arrow icon on the homepage */
$min-vw-home-arrow: 20rem;
$max-vw-home-arrow: 62.5rem;
$min-width-home-arrow: 0.55rem;
$max-width-home-arrow: 0.85rem;

/* Corresponding height variables */
$min-height-home-arrow: 0.55rem;
$max-height-home-arrow: 0.85rem;
