/*! Custom Styles */

/* Colors */
$background-color: hsl(210, 14%, 95%);
$font-color: hsl(0, 0%, 27%);
// $link-color: #3f689d;
$active-color: 	hsl(165, 80%, 43%);
// $hover-color: #4483d9;
$hover-color: hsl(0, 0%, 0%);
$dark-blue: hsla(212, 43%, 23%, 1);
$light-grey:hsl(0, 0%, 40%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$opaque-white: hsla(0, 0%, 100%, 0.98);
$wittenbrock-logo: hsl(214, 42%, 23%);

/* new colors */
$purple-black: hsl(233, 14%, 13%);
$orange: 	hsl(11, 70%, 60%);
$light-gray: hsl(0, 0%, 91%);
$medium-gray:	hsl(210, 3%, 75%);
$dark-gray:	hsl(0, 2%, 39%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

/* Box Shadow */
$logo-shadow: 0 0 5px 5px hsla(214, 43%, 43%, 0.35);
$project-caption-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.16), 0 0 2px hsla(0, 0%, 0%, 0.08);
$project-button-shadow: 0 0 2px hsla(0, 0%, 0%, 0.08), 0 2px 2px hsla(0, 0%, 0%, 0.16); //DELETE THIS
$project-button-shadow-down: 0 0 2px hsla(0, 0%, 0%, 0.08), 0 2px 2px hsla(0, 0%, 0%, 0.16);
$project-button-shadow-up: 0 0 4px hsla(0, 0%, 0%, 0.08), 0 4px 4px hsla(0, 0%, 0%, 0.16);
$nav-bar-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.08);

/* Text-underline on hover for .link */
$duration: 0.2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

/* Simulate button down press */
$button-down-press: translateY(rem(2px));

/*
 * ----------------------------------------
 * Fluid typography variables
 * The following variables are used for the mixin fluid-property('font-size' ...)
 * ----------------------------------------
*/

/* Fluid typography variables for index.html and contact.html */
$min-width-i: 20rem;
$max-width-i: 35rem;
$min-font-i: 1rem;
$max-font-i: 1.125rem;

/* Fluid typography variables for the navigation bar */
$min-width-nav: 20rem;
$max-width-nav: 62.5rem;
$min-font-nav: 0.5625rem;
$max-font-nav: 0.9375rem;

/* Fluid typography variables for splash-page.html */
$min-vw-home-font: 20rem;
$max-vw-home-font: 62.5rem;
$min-font-home: 0.8rem;
$max-font-home: 1.3rem;

/*
 * ----------------------------------------
 * Fluid width and height variables
 * The following variables are used for the mixin fluid-property('width' ...)
 * and the mixin fluid-property('height' ...)
 * ----------------------------------------
*/

/* General min and max viewport dimensions */
$min-vw-320px: 20rem;
$max-vw-1440px: 90rem;

/* Fluid width, height, margin-bottom dimensions for .wittenbrock-logo-container */
$min-wittenbrock-logo: 8rem;
$max-wittenbrock-logo: 12rem;
