/* Colors */
$background-color: #EFF1F3;
$font-color: #454545;
$link-color: #3F689D;
$active-color: #16C598;
$hover-color: #4483d9;
$white: white;

/* Box Shadow */
$logo-box-shadow: 0px 0px 5px 5px rgba(63,104,157,0.35);

/* Fonts */
$font-stack: Helvetica, sans-serif;

/* Text-underline on hover*/
$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);