.flexible-subtitle {
  display: block;

  @media screen and (min-width: 752px) {
    display: inline;
  }
}

.form-container {
  @extend .about;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-email-container {
  display: flex;
  flex-direction: column;
  padding: 0;

  @include for-tablet-up {
    flex-direction: row;
  }
}

.form-label {
  margin-bottom: rem(20px);
}

.form-input {
  height: rem(50px);
  width: 100%;

  @include for-tablet-up {
    width: rem(265px);
  }
}

.name-input {
  margin-right: rem(30px);
}

.form-textarea {
  width: 100%;
  height: rem(200px);
  line-height: 1.5;
}

.form-input,
.form-textarea {
  margin-top: rem(10px);
  border-radius: 4px;
  padding: rem(15px);
  border: 1px solid #dadcdd;

  &:focus {
    border: 1px solid $hover-color;
  }

  &:invalid {
    box-shadow: none; //remove Firefox's red box-shadow on invalid elements
  }
}

/* HTML Form validation styles */
input.error,
textarea.error {
  outline: none;
  border-color: red;
  border-width: 1px;
  border-style: solid;

  /* Use CSS to visually restore valid fields */
  &:valid {
    border: 1px solid #dadcdd;
  }
}
