.flexible-subtitle {
  display: block;

  @media screen and (min-width: 47em) { //752px
    display: inline;
  }
}

.form-container {
  @extend .about;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-email-container {
  display: flex;
  flex-direction: column;
  padding: 0;

  @include for-tablet-up {
    flex-direction: row;
  }
}

.form-label {
  margin-bottom: 1.25rem; //20px
}

.form-input {
  height: 3.125rem; //50px
  width: 100%;

  @include for-tablet-up {
    width: 16.5625rem; //265px
  }
}

.name-input {
  margin-right: 1.875rem; //30px
}

.form-textarea {
  width: 100%;
  height: 12.5rem; //200px
  line-height: 1.5;
}

.form-input,
.form-textarea {
  margin-top: 0.625rem; //10px
  border-radius: 4px;
  padding: 0.9375rem; //15px
  border: 1px solid #dadcdd;

  &:focus {
    border: 1px solid $hover-color;
  }

  &:invalid {
    box-shadow: none; //remove Firefox's red box-shadow on invalid elements
  }
}

//HTML Form validation styles
input.error,
textarea.error {
  outline: none;
  border-color: red;
  border-width: 1px;
  border-style: solid;

  // Use CSS to visually restore valid fields
  &:valid {
    border: 1px solid #dadcdd;
  }
}
