.form-container {
  @extend .about;
  display: flex;
  flex-direction: column;
}

.name-email-container {
  display: flex;
  padding: 0;

  @include for-phone-only {
    flex-direction: column;
  }
}

.form-label {
  margin-bottom: 2rem;
}

.form-input {
  width: 26.5rem;
  height: 5rem;


  @include for-phone-only {
    width: 100%;
  }
}

.name-input {
  margin-right: 3rem;
}

.form-textarea {
  width: 100%;
  height: 20rem;
}

.form-input,
.form-textarea {
  margin-top: 1rem;
  border-radius: 4px;
  padding: 1.5rem;
  border: 1px solid #dadcdd;

  &:focus {
    border: 1px solid $hover-color;
  }

  &:invalid {
    box-shadow: none; //remove Firefox's red box shadow on invalid elements
  }
}

//HTML Form validation styles
input.error,
textarea.error {
  outline: none;
  border-color: red;
  border-width: 1px;
  border-style: solid;
  
  // Use CSS to visually restore valid fields
  &:valid {
    border: 1px solid #dadcdd;
  }
}