.main-container {
  box-shadow: inset 0 -20px 0 $white,inset 20px 0 0 $white,inset -20px 0 0 $white;
  min-height: 100vh;
  min-width: 100%;
  background: $background-color;
}

.top-border {
  box-shadow: inset 0 20px 0 $white;
  height: 20px;
}


.wittenbrock-logo-container {
  position: relative;
  top: 0;
  margin: auto;
  margin-top: 4.8rem;
  margin-bottom: 4.8rem;
  width: 130px;
  height: 130px;
}

.circle-square,
.wittenbrock-logo {
  position: absolute;
  left: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.wittenbrock-logo:hover {
  opacity:0;
}

.about {
  margin: auto;
  max-width: 60rem;
  padding: 2rem;
  padding-top: 0;
}

.article-header {
  font-size: 2.6rem;
}

.name {
  display: inline;
}

.margin-zero {
  margin: 0;
}


.link {
  position: relative;
  color: $link-color;
  font-weight: 500;
  padding-bottom: .3rem;

  &:hover {
    color: $hover-color;
  }

  &:before,
	&:after {
		content: '';
		position: absolute;
		bottom: .1rem;
		left: 0; right: 0;
		height: .1rem;
		background-color: $hover-color;
  }
  
	&:before {
		opacity: 0;
		transform: translateY(- $distance);
		transition: transform 0s $easeOutBack, opacity 0s;
  }
  
	&:after {
		opacity: 0;
		transform: translateY($distance/2);
		transition: transform $duration $easeOutBack, opacity $duration;
  }

	&:hover,
	&:focus {
		&:before,
		&:after {
			opacity: 1;
			transform: translateY(0);
		}
		&:before {
			transition: transform $duration $easeOutBack, opacity $duration;
		}
		&:after {
			transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
		}
	}
}