.page-header-container {
  //This class is also declared in _recent-work-html.scss
  padding-left: 2rem;
  padding-right: 2rem;
}

.title-flexible-display {
  display: block;

  @media screen and (min-width: 27.1875em) {
    //436px
    display: inline;
  }
}

.flexible-display {
  display: inline;

  @media screen and (min-width: 25em) {
    //400px
    display: block;
  }
}
