.small-wittenbrock-logo {
  @extend %wittenbrock-design-logo;
  
  margin-top: 2rem; //28px
  margin-bottom: 4.8rem;
  margin-left: 4rem;
  height: 65px; //50% smaller than .large-wittenbrock-logo
  width: 65px;
}

.page-header-container {
  margin-bottom: 8.8rem;
}

.page-header {
  @extend %header;
  text-align: center;
}

.page-subtitle {
  text-align: center;
}

.project {
  margin: auto;
  width: 30rem;
  height: auto;
}