.page-header-container {
  margin-bottom: 5rem;
}

.page-header {
  @extend %header;
  text-align: center;

  @include for-phone-only {
    font-size: 2.52rem; //10% reduction in size
  }
}

.page-subtitle {
  text-align: center;

  @include for-phone-only {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.project-overlay,
.project-thumbnail {
  border-radius: 6px;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;
  max-width: 80rem;
  margin: auto;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;

  @include for-phone-only {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    grid-row-gap: 0;
    grid-column-gap: 0;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.project {
  position: relative;
  align-self: center;
  box-shadow: $project-shadow;
  transition-duration: 86ms;
  transition-property: box-shadow, transform;

  &:hover {
    transform: translateY(-.5rem);
    box-shadow: $project-shadow-hover;
  }

  @include for-phone-only {
    min-width: 24.7rem;
    max-width: 31rem;
    margin-bottom: 3rem;
  }
}

.project:last-child {
  @include for-phone-only {
    margin-bottom: 1rem;
  }
}

.project-overlay {
  position: absolute;
	top: 0;
	left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $white;
  background: $dark-blue;
	width: 100%;
	height: 100%;
  opacity: 0;
  text-align: center;
	transition: .45s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.project-title {
  font-size: 2rem;
  margin-bottom: 1rem;

  @include for-phone-only {
    font-size: 1.8rem;
  }
}

.project-subtitle {
  font-size: 1.5rem;
  
  @include for-phone-only {
    font-size: 1.35rem;
    width: 30.7rem;
  }
}

.project-button {
  align-self: center;
  padding: .8rem;
  border: 2px solid $active-color;
  color: $white;
  text-align: center;
  background-color: transparent;
  border-radius: 290486px;
  transition: background 0.2s ease-in-out;
  width: 15rem;
  
  &:hover {
    background-color: $active-color;
  }

  &:active {
    background-color: darken($active-color, 10%);
    border-color: darken($active-color, 10%);
  }

  @include for-phone-only {
    width: 13.5rem; //10% reduction in size
    padding: .72rem;
  }
}

.project-button-text {
  font-size: 1.5rem;

  @include for-phone-only {
    font-size: 1.35rem;
  }
}

.arrow-icon-container {
  height: 1rem;
  width: 1rem;
}

