.page-header-container {
  margin-top: 6rem;
  margin-bottom: 7rem;
}

.page-title {
  font-family: $font-stack;
  font-weight: 500;
  text-align: center;
  font-size: 2.5rem;
  color: black;

  @include for-tablet-up {
    // font-size: 3.8rem;
    font-size: 3rem;
  }
}

.page-subtitle {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  padding-left: 2rem;
  padding-right: 2rem;

  @include for-tablet-up {
    font-size: 1.8rem;
  }
}

.project-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 110rem;
  margin-top: 11rem;
  padding-bottom: 1rem;

  @include for-desktop-up {
    padding-bottom: 4rem;
  }
}

.project {
  display: flex; //put projects into a centered column down the page
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;

  @include for-tablet-up {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  @include for-desktop-up {
    position: relative; //allow for absolute positioning of .project-caption
    margin-bottom: 7rem;
  }
}

.box-shadow {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: $project-caption-shadow;

  @media screen and (min-width: 31.25em) and (max-width: 39.9em) {
    //500px ~ 638px
    width: 85%;
  }

  @include for-tablet-up {
    width: 70%;
  }

  @include for-desktop-up {
    flex-direction: row; //switch flex direction back to row
    width: 100%;
    box-shadow: none;
  }
}

.project-caption {
  order: 2; //goes against normal document flow, shows picture above caption
  padding: 2rem;
  background: white;

  @include for-desktop-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 2; //Put the caption above the project's image
    width: 42rem;
    box-shadow: $project-caption-shadow;
    transition: transform 0.5s ease-in-out;
    margin-top: 7rem;
    min-height: 22.5rem;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.5s ease-in-out;
    }

    &:hover ~ .project-image {
      transform: scale(0.95);
      transition: transform 0.5s ease-in-out;
    }
  }
}

.caption-right {
  right: 0.25rem;
}

.caption-left {
  left: 0.25rem;
}

.project-title {
  font-weight: 500;
  font-size: 2.2rem;
  color: black;
  margin-bottom: 0;

  @include for-tablet-up {
    font-size: 2rem;
  }
}

.project-subtitle {
  font-size: 1.7rem;
  font-weight: 100;
  color: $light-grey;

  @include for-tablet-up {
    font-size: 1.5rem;
  }
}

.project-description {
  font-size: 1.3rem;
  text-align: justify;
  line-height: 2.3rem;
}

.project-image {
  order: 1; //goes against normal document flow, shows picture above caption

  @include for-desktop-up {
    position: relative;
    width: 65%;
    transition: transform 0.5s ease-in-out;
  }
}

.image-right {
  left: 35%;
}

.button-container {
  display: flex;
  justify-content: center;
}
