.page-header-container {
  margin-top: px-to-rem(60px);
  margin-bottom: px-to-rem(70px);
}

.page-title {
  font-family: $font-stack;
  font-weight: 500;
  text-align: center;
  font-size: px-to-rem(25px);
  color: $black;

  @include for-tablet-up {
    font-size: px-to-rem(30px);
  }
}

.page-subtitle {
  text-align: center;
  font-size: px-to-rem(18px);
  font-weight: 300;
  padding-left: px-to-rem(20px);
  padding-right: px-to-rem(20px);

  @include for-tablet-up {
    font-size: px-to-rem(18px);
  }
}

.project-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: px-to-rem(1100px);
  margin-top: px-to-rem(110px);
  padding-bottom: px-to-rem(10px);

  @include for-desktop-up {
    padding-bottom: px-to-rem(40px);
  }
}

.project {
  display: flex; //put projects into a centered column down the page
  flex-direction: column;
  align-items: center;
  margin-bottom: px-to-rem(100px);
  margin-left: px-to-rem(25px);
  margin-right: px-to-rem(25px);

  @include for-tablet-up {
    margin-left: px-to-rem(40px);
    margin-right: px-to-rem(40px);
  }

  @include for-desktop-up {
    margin-bottom: px-to-rem(70px);
  }
}

.box-shadow {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative; //allow for absolute positioning of .project-caption
  box-shadow: $project-caption-shadow;

  @media screen and (min-width: 31.25em) and (max-width: 39.9em) { //500px ~ 638px
    width: 85%;
  }

  @include for-tablet-up {
    width: 70%;
  }

  @include for-desktop-up {
    flex-direction: row; //switch flex direction back to row from column
    width: 100%;
    box-shadow: none;
  }
}

.project-transition {
  //AOS (animate on scroll) uses transitions to animate its elements. Because of this, its JavaScript overrides any written transitions not related to AOS.
  order: 2; //goes against normal document flow, this puts the picture above caption
  transition: transform 0.5s ease-in-out;
  z-index: 2; //Elevate the caption above the project's image

  @include for-desktop-up {
    position: absolute;
    margin-top: px-to-rem(70px);

    &:hover {
      transform: scale(1.1);
      transition: transform 0.5s ease-in-out;
    }

    &:hover ~ .project-image-transition {
      transform: scale(0.95);
      transition: transform 0.5s ease-in-out;
    }
  }
}

.project-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: px-to-rem(20px);
  background: $white;

  @include for-desktop-up {
    width: px-to-rem(420px);
    box-shadow: $project-caption-shadow;
    min-height: px-to-rem(225px);
  }
}

.caption-right {
  @include for-desktop-up {
    right: px-to-rem(2.5px);
  }
}

.caption-left {
  @include for-desktop-up {
    left: px-to-rem(2.5px);
  }
}

.project-title {
  font-weight: 500;
  font-size: px-to-rem(22px);
  color: $black;
  margin-bottom: 0;

  @include for-tablet-up {
    font-size: px-to-rem(20px);
  }
}

.project-subtitle {
  font-size: px-to-rem(17px);
  font-weight: 100;
  color: $light-grey;

  @include for-tablet-up {
    font-size: px-to-rem(15px);
  }
}

.project-description {
  font-size: px-to-rem(13px);
  text-align: justify;
  line-height: px-to-rem(23px);
}

.project-image-transition {
  @include for-desktop-up {
    position: relative;
    width: 65%;
    transition: transform 0.5s ease-in-out;
  }
}

.project-image {
  width: 100%;
}

.image-right {
  left: 35%;
}

.button-container {
  display: flex;
  justify-content: center;
}
