.page-header-container {
  margin-bottom: 7rem;
}

.page-title {
  font-family: $font-stack;
  font-weight: 500;
  text-align: center;
  font-size: 3.13rem;
  color: black;

  @include for-phone-only {
    font-size: 2.8rem; 
  }
}

.page-subtitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  padding-left: 2rem;
  padding-right: 2rem;

  @include for-phone-only {
    font-size: 1.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.project-grid {
  max-width: 100rem;
  margin: auto;
  padding-bottom: 4rem;
  
  @include for-tablet-down {
    padding-bottom: 1rem;
  }
}

.project {
  position: relative;
  margin-bottom: 7rem;
  margin-left: 4rem;
  margin-right: 4rem;

  @include for-tablet-down {
    display: flex; //put projects into a centered column down the page
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
  }

  @include for-phone-only {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

.box-shadow {
  display: flex;
  align-items: center;

  @include for-tablet-down {
    flex-direction: column;
    box-shadow: $project-caption-shadow;
    width: 75%;
  }

  @include for-phone-only {
    width: 100%;
  }
}

.project-caption {
  position: absolute;
  z-index: 2;
  padding: 3rem;
  background: white;
  width: 42rem;
  height: auto;
  box-shadow: $project-caption-shadow;
  transition: transform .5s ease-in-out;

  &:hover {
    transform: scale(1.1);
    transition: transform .5s ease-in-out;
  }

  &:hover ~ .project-image {
    transform: scale(.95);
    transition: transform .5s ease-in-out;
  }

  @include for-tablet-down {
    position: static;
    width: 100%; //becomes the same size as .box-shadow
    order: 2; //goes against normal document flow, shows caption below picture
    box-shadow: none; //box shadow switches to <div class="box-shadow">

    &:hover { 
      transform: initial;
      transition: none;
    }

    &:hover ~ .project-image {
      transform: initial;
      transition: none;
    }
  }
}

.caption-right {
  right: .25rem;
}

.caption-left {
  left: .25rem;
}

.project-title {
  font-weight: 500;
  font-size: 2.4rem;
  color: black;
  margin-bottom: .25rem;

  @include for-phone-only {
    font-size: 2.2rem;
  }
}

.project-subtitle {
  font-size: 1.8rem;
  font-weight: 100;
  color: $light-grey;

  @include for-phone-only {
    font-size: 1.7rem;
  }
}

.project-description {
  font-size: 1.3rem;
  text-align: left;
  line-height: 2.8rem;
}

.project-image {
  position: relative;
  width: 65%;
  transition: transform .5s ease-in-out;

  @include for-tablet-down {
    position: static;
    order: 1; //goes against normal document flow, shows picture above caption
    width: 100%; //becomes the same size as .box-shadow
    box-shadow: none; //box shadow switches to <div class="box-shadow">
  }
}

.image-right {
  left: 35%;
}

.button-container {
  display: flex;
  justify-content: center;
}