/* Styles related to the wittenbrock logo can be found in sass/components/_wittenbrock-logo.scss */

/* Styles related to the enter-button can be found in sass/components/_buttons.scss */

/* Styles related to any animation can be found in sass/components/_animations.scss */

.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.right-arrow-icon {
  @include fluid-property('width', $min-vw-home-arrow, $max-vw-home-arrow, $min-width-home-arrow,$max-width-home-arrow);
  @include fluid-property('height', $min-vw-home-arrow, $max-vw-home-arrow, $min-height-home-arrow,$max-height-home-arrow);

  fill: inherit;
}
