%button-base-styles {
  display: block;
  width: rem(70px);
  background: $hover-color;
  font-family: $font-stack;
  font-size: rem(10px);
  color: $white;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  padding: rem(6px) rem(14px);
  border: 2px solid $hover-color;
  border-radius: 5px;
  box-shadow: $project-button-shadow;

  &:active {
    color: $white;
    background: $active-color;
    border: 2px solid $active-color;
    transform: $button-down-press;
  }

  @include for-desktop-up {
    &:hover {
      background: transparent;
      color: $hover-color;
    }
  }
}

.project-button {
  @extend %button-base-styles;

  background-color: $light-grey;
  display: inline-block;
  margin-right: rem(20px);
}

.github-button {
  background: #818181;
  border: solid 2px $light-grey;
  margin-left: rem(20px);

  &:active {
    color: $white;
    background: $light-grey;
    border: 2px solid $light-grey;
    transform: $button-down-press;
  }

  @include for-desktop-up {
    &:hover {
      background: transparent;
      color: $light-grey;
    }
  }
}

.form-button {
  @extend %button-base-styles;

  margin: rem(30px) auto;
  width: rem(150px);

  &:active {
    box-shadow: none; //remove blue box-shadow from Mozilla Firefox
  }
}
