%button-base-styles {
  display: block;
  width: 7rem;
  background: $hover-color;
  font-family: $font-stack;
  font-size: 1rem;
  color: $white;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  padding: 0.6rem 1.4rem;
  border: 2px solid $hover-color;
  border-radius: 5px;
  box-shadow: $project-button-shadow;

  &:active {
    color: $white;
    background: $active-color;
    border: 2px solid $active-color;
    transform: $button-down-press;
  }

  @include for-desktop-up {
    &:hover {
      background: transparent;
      color: $hover-color;
    }
  }
}

.project-button {
  @extend %button-base-styles;

  background-color: $light-grey;
  display: inline-block;
  margin-right: 2rem;
}

.github-button {
  background: #818181;
  border: solid 2px $light-grey;
  margin-left: 2rem;
  margin-right: 0;

  &:active {
    color: $white;
    background: $light-grey;
    border: 2px solid $light-grey;
    transform: $button-down-press;
  }

  @include for-desktop-up {
    &:hover {
      background: transparent;
      color: $light-grey;
    }
  }
}

.form-button {
  @extend %button-base-styles;

  margin: 3rem auto;
  width: 15rem;

  &:active {
    box-shadow: none; //remove blue box-shadow from Mozilla Firefox
  }
}
