%button-base-styles {
  display: block;
  width: rem(70px);
  background: $hover-color;
  font-family: $font-stack;
  font-size: rem(10px);
  color: $white;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  padding: rem(6px) rem(14px);
  border: 2px solid $hover-color;
  border-radius: 5px;
  // box-shadow: $project-button-shadow-up;

  &:active {
    // color: $white;
    // background: $active-color;
    // border: 2px solid $active-color;
    // transform: $button-down-press;
    animation: text-shadow-drop-bottom 0.6s both;
    // transform: $button-down-press;
  }

  @include for-desktop-up {
    &:hover {
      background: transparent;
      color: $hover-color;
    }
  }
}

/* Used in portfolio.html */
.project-button {
  @extend %button-base-styles;

  background-color: $light-grey;
  display: inline-block;
  margin-right: rem(20px);
}

/* Used in portfolio.html */
.github-button {
  background: #818181;
  border: solid 2px $light-grey;
  margin-left: rem(20px);

  &:active {
    color: $white;
    background: $light-grey;
    border: 2px solid $light-grey;
    transform: $button-down-press;
  }

  @include for-desktop-up {
    &:hover {
      background: transparent;
      color: $light-grey;
    }
  }
}

/* Used on contact.html */
.form-button {
  @extend %button-base-styles;

  margin: rem(30px) auto;
  width: rem(150px);

  &:active {
    box-shadow: none; //remove blue box-shadow from Mozilla Firefox
  }
}

/* Used on the homepage
* This transition was inspired by codrops https://github.com/codrops/CreativeLinkEffects
*/

.enter-button {
  // @include fluid-property('font-size', $min-vw-home-font, $max-vw-home-font, $min-font-home, $max-font-home);

  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  color: black;
  fill: black;
  opacity: 0;

  &:active {
    transform: $button-down-press;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    max-width: 0;
    color: #0972b4;
    content: attr(data-hover);
    transition: max-width 0.5s;
    white-space: nowrap;
  }

  &:hover::before,
  &:focus::before {
    max-width: 100%;
  }

  &:hover .right-arrow-icon {
    fill: #0972b4;
  }
}
