@media screen and (max-width: 849px) {
  [data-aos="custom-fade-up"] {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
    transition-property: opacity, transform;

    &.aos-animate {
      transform: translateZ(0);
      opacity: 1;
    }
  }
}

@include for-desktop-up {
  [data-aos="custom-fade-in"] {
    opacity: 0;
    transition-property: opacity, transform;

    &.aos-animate {
      transform: translateZ(0);
      opacity: 1;
    }
  }
}

@include for-desktop-up {
  [data-aos="custom-fade-right"] {
    transform: translate3d(-100px, 0, 0); //fade right on desktop
    opacity: 0;
    transition-property: opacity, transform;

    &.aos-animate {
      transform: translateZ(0);
      opacity: 1;
    }
  }
}

@include for-desktop-up {
  [data-aos="custom-fade-left"] {
    transform: translate3d(100px, 0, 0); //fade left on desktop
    opacity: 0;
    transition-property: opacity, transform;

    &.aos-animate {
      transform: translateZ(0);
      opacity: 1;
    }
  }
}
