.contact-icons {
  display: flex;
  justify-content: center;
}

.icon {
  fill: #7b8ea6;
}

.circle {
  stroke: #7b8ea6;
}

.social-media-icon {
  display: inline-block;
  height: 36px;
  width: 36px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 16rem;
  margin-bottom: 2rem;

  &:active .icon {
    fill: $background-color;
  }

  &:active .circle {
    fill: $active-color;
    stroke: $active-color;
  }

  &:active .circle,
  &:active .icon {
    transform: $button-down-press;
  }

  @include for-desktop-up {
    &:hover .icon {
      fill: $background-color;
    }

    &:hover .circle {
      fill: $hover-color;
      stroke: $hover-color;
    }
  }
}

.github-logo {
  fill: #556e8d;
}
