.contact-icons {
  display: flex;
  justify-content: center;
}

.icon {
  fill: #7b8ea6;
}

.circle {
  stroke: #7b8ea6;
}

.social-media-icon {
  display: inline-block;
  height: 2.25rem; //36px
  width: 2.25rem; //36px
  margin-left: 1.25rem; //20px
  margin-right: 1.25rem; //20px
  margin-top: 8.75rem; //140px
  margin-bottom: 1.25rem; //20px

  @media screen and (min-width: 21.875em) and (max-width: 31.25em) { //350px 500px
    margin-top: 8.75rem; //120px
  }

  @include for-desktop-up {
    margin-top: 7.5rem; //120px

    &:hover .icon {
      fill: $background-color;
    }

    &:hover .circle {
      fill: $hover-color;
      stroke: $hover-color;
    }

    &:active .icon {
      fill: $background-color;
    }

    &:active .circle {
      fill: $active-color;
      stroke: $active-color;
    }

    &:active .circle,
    &:active .icon {
      transform: $button-down-press;
    }
  }
}

.github-logo {
  fill: #556e8d;
}
