%wittenbrock-design-logo {
  position: relative;
  top: 0;
}

.small-wittenbrock-logo {
  @extend %wittenbrock-design-logo;
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-left: 4rem;
  height: 65px; //50% smaller than .large-wittenbrock-logo
  width: 65px;

  @include for-phone-only {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 5rem;
    height: 52px; //20% reduction in size
    width: 52px;
  }
}

.large-wittenbrock-logo {
  @extend %wittenbrock-design-logo;
  margin: auto;
  margin-top: 4.8rem;
  margin-bottom: 4.8rem;
  // width: 130px;
  // height: 130px;
  width: 100px;
  height: 100px;

  @include for-phone-only {
    width: 104px; //20% reduction in size
    height: 104px;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.circle-square,
.wittenbrock-logo {
  position: absolute;
  left: 0;
  transition: opacity .5s ease-in-out;
}

.wittenbrock-logo:hover {
  opacity: 0;
  box-shadow: $logo-shadow;
}

