%wittenbrock-design-logo {
  position: relative;
  top: 0;
}

.small-wittenbrock-logo {
  @extend %wittenbrock-design-logo;

  margin-top: 1rem;
  margin-bottom: 5rem;
  margin-left: 2rem;
  height: 52px;
  width: 52px;

  @include for-tablet-up {
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: 4rem;
    height: 65px;
    width: 65px;
  }
}

.large-wittenbrock-logo {
  @extend %wittenbrock-design-logo;

  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 85px;
  height: 85px;

  @include for-tablet-up {
    width: 90px;
    height: 90px;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.circle-square,
.wittenbrock-logo {
  position: absolute;
  left: 0;

  @include for-desktop-up {
    transition: opacity 0.5s ease-in-out;
  }
}

.wittenbrock-logo {
  @include for-desktop-up {
    &:hover {
      opacity: 0;
    }
  }
}
