.wittenbrock-logo {
  height: 100%;
  width: 100%;
}

.witten-logo-stroke {
  fill: none;
  stroke: $purple-black;
  stroke-miterlimit: 10;
  stroke-width: 18.5px;
}

.letters {
  opacity: 0;
  fill: $purple-black;
}

.square-border {
  stroke-dasharray: 1458.87;
  stroke-dashoffset: 1458.87;
}

.wittenbrock-logo-container {
  @include fluid-property('width', $min-vw-320px, $max-vw-1440px, $min-wittenbrock-logo, $max-wittenbrock-logo);
  @include fluid-property('height', $min-vw-320px, $max-vw-1440px, $min-wittenbrock-logo, $max-wittenbrock-logo);
}
