.wittenbrock-logo {
  height: 100%;
  width: 100%;
}

.witten-logo-stroke {
  fill: none;
  stroke: $wittenbrock-logo;
  stroke-miterlimit: 10;
  stroke-width: 18.5px;
}

.square-border {
  stroke-dasharray: 1458.87;
  stroke-dashoffset: 1458.87;
}

/* The following styles are unique to the logo found in the navigation bar */
.wittenbrock-logo-container-nav {
  @include fluid-property('width', $min-vw-nav-logo, $max-vw-nav-logo, $min-width-nav-logo, $max-width-nav-logo);
  @include fluid-property('height', $min-vw-nav-logo, $max-vw-nav-logo, $min-height-nav-logo, $max-height-nav-logo);

  display: flex;
  align-items: center;

  @include for-desktop-up {
    &:hover .letters-nav {
      opacity: 0;
    }
  }
}

.letters-nav {
  fill: $wittenbrock-logo;
  transition: opacity 0.5s ease-in-out;
}

/* The following styles are unique to the logo found on the homepage */
.wittenbrock-logo-container-home {
  @include fluid-property('width', $min-vw-home-logo, $max-vw-home-logo, $min-width-home-logo, $max-width-home-logo);
  @include fluid-property('height', $min-vw-home-logo, $max-vw-home-logo, $min-height-home-logo, $max-height-home-logo);

  display: flex;
  align-items: center;
  margin-bottom: rem(60px);
}

.letters-home {
  opacity: 0;
  fill: $wittenbrock-logo;
}
