.podcasts {
  @extend %basic-section-styles;
}

.podcasts-section-header {
  /* This is the same dimension as .podcasts's top and bottom padding */
  @include fluid-property('margin-bottom', $min-vw-320px, $max-vw-1440px, $min-padding-section, $max-padding-section);

  margin-left: rem(16px);
  margin-right: rem(16px);
}

.podcast-subtitle-break-point {
  display: inline;

  @media screen and (min-width: 500px) {
    display: block;
  }
}

/* All of the styles related to the podcast grid */
.podcast-grid {
  @include fluid-property('gap', $min-vw-320px, $max-vw-1440px, $min-gap-podcast-grid, $max-gap-podcast-grid);
  @include fluid-property('margin-left', $min-vw-320px, $max-vw-1440px, $min-gap-podcast-grid, $max-gap-podcast-grid);
  @include fluid-property('margin-right', $min-vw-320px, $max-vw-1440px, $min-gap-podcast-grid, $max-gap-podcast-grid);

  display: grid;
  grid-template-areas: repeat(3, 1fr);
  grid-template-columns: minmax(auto, rem(192px));

  @media screen and (min-width: 460px) {
    grid-template-columns: repeat(2, minmax(auto, rem(192px)));
  }

  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(3, minmax(auto, rem(256px)));
  }
}

.flex-in-460px {
  display: none;

  @media screen and (min-width: 460px) {
    display: block;
  }
}

.flex-in-600px {
  display: none;

  @include for-tablet-up {
    display: block;
  }
}

/* All of the styles related to the podcast overlays */
.podcast-overlay {
  align-items: center;
  background: $podcast-overlay-transparent;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.5s ease;
  width: 100%;
}

.podcast-item {
  position: relative;

  @media (hover) {
    &:hover .podcast-overlay {
      opacity: 1;
    }
  }
}

.podcast-episode-num {
  @include fluid-property('font-size', $min-vw-320px, $max-vw-1440px, $min-font-size-podcast-episode, $max-font-size-podcast-episode);
  @include fluid-property('margin-bottom', $min-vw-320px, $max-vw-1440px, $min-margin-podcast-titles, $max-margin-podcast-titles);

  font-weight: 500;
}

.podcast-title {
  @include fluid-property('font-size', $min-vw-320px, $max-vw-1440px, $min-font-size-podcast-title, $max-font-size-podcast-title);
  @include fluid-property('margin-bottom', $min-vw-320px, $max-vw-1440px, $min-margin-podcast-titles, $max-margin-podcast-titles);
}

.podcast-date {
  @include fluid-property('font-size', $min-vw-320px, $max-vw-1440px, $min-font-size-podcast-date, $max-font-size-podcast-date);
  @include fluid-property('margin-bottom', $min-vw-320px, $max-vw-1440px, $min-margin-podcast-date, $max-margin-podcast-date);
}
